html,
body {
  /* background-image: url(/icons/tekstura.jpg); */
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  background-color: #fff;
  border: 10px solid rgb(235, 216, 216);
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
}

.container:before {
  position: absolute;
  display: block;
  content: '';
  border: 6px solid rgb(114, 94, 94);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  pointer-events: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

a {
  padding: 8px;
  color: rgb(255, 255, 255);
}



.dropbtn {
  background-color: #311616;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {background-color: rgb(221, 221, 221);} */

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #5f173f;}


.dropdown-content .pada6tiTextove:hover {
  background-color: #ffffff;
}

.menu:hover {background-color: #5f173f;}


.menu {
  background-color: #411b1b;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  border: none;
}



.opakovkaNaNav {
  height: 50px;
  max-width: 100%;
  background-color: #411b1b;
}

.header-wrap {
  height: 40px;
  background-color: #998181;
  background-image: url(/icons/tekstura.jpg);
}

.glavnaKartinka {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.phoneNum {

  padding-left: 40px;
  color: #ffffff;
}

.phoneNum:hover {color: #ff32a3;}