html,
body {
  background-image: url(/icons/tekstura.jpg);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  background-color: #fff;
  border: 10px solid rgb(235, 216, 216);
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  
}

.container:before {
  position: absolute;
  display: block;
  content: '';
  border: 6px solid rgb(114, 94, 94);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}





