 /* Css za produktovata stranica */
.container { 
  max-width: 80000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* display: inline-block; */ 
}

.name {
  color: rgb(57, 32, 80);
  padding-left: 40px;
}

.img {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.sku {
  color: rgb(100, 30, 45);
  font-size: 20px;
  padding-right: 50px;
 
 }
 
.price {
  font-size: 22px;
  padding-left: 50px;
}



 
.flex {
display: flex;
justify-content: space-between;
}



.button {
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  padding-left: 50px;
}







  /* .logo {
  float: left;
  margin-left: 0px 0px 0px 30px;
  width: 150px;
  height: 38px;
  } */ 

















  