 /* Css za produktovata stranica */
.container { 
  /* height: 520px; */
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.name {
  color: rgb(57, 32, 80);
  padding-left: 40px;
}

.img {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.sku {
  color: rgb(100, 30, 45);
  font-size: 20px;
  padding-right: 50px;
  font-weight: bold;
  
 
 }
 
.price {
  font-size: 22px;
  padding-left: 50px;
  font-weight: bold;
}



 
.flex {
display: flex;
justify-content: space-between;
}



.button {
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  padding-left: 50px;
}

.previous {
  background-color: rgb(114, 94, 94);
  width: fit-content;
  display:inline;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    padding: 10px 50px;
    border: 3px double rgb(182, 78, 78);
    font-weight: bold;
}





  /* .logo {
  float: left;
  margin-left: 0px 0px 0px 30px;
  width: 150px;
  height: 38px;
  } */ 

















  